[Desktop Entry]

Type=Application
Name=RustSpring
Comment=Rustspring keyboard sound
Exec=rustspring -f
Icon=input-keyboard
StartupNotify=false
Terminal=false
Hidden=false

